//- Header
section.wrapper-header.overlay--light
  .wrapper-inner
    header.header
      .logo
        .logo__title !{clinic.name}
      ul.nav
        li.nav__item
          a(href='#about-us') About
        li.nav__item
          a(href='#services') Services
        li.nav__item
          a(href='#doctors') Doctors
        li.nav__item
            a(href='#information') Information

    //- Intro
    section.wrapper-intro
      h4.font--light.color--white
        | !{clinic.category}
        span.ion-android-call.middle-character
        | !{clinic.phone}
      .scene_element.scene_element--fadein
        h1 !{clinic.name}
        a(href='#appointment').btn--brand-2
          span.icon.ion-flash
          | Book an Appointment