//- Header
section.wrapper-header
  .wrapper-inner
    header.header.header--2
      .header__cta
        a.btn--white(href='/') Go Back
      .header__logo
        a(href='/')
          .header__logo__img
            include logo



