//- Header
section.wrapper-header
  .wrapper-inner
    header.header
      .header__cta
        a.btn--primary(href='mailto:mossified.com', target='_blank') Connect
      .header__logo
        a(href='/')
          img.header__logo__img(src='img/logo.png', alt='Mossified')