extends layout.jade

//- Vars
block vars
  - bodyClass = 'works'
  - heroBackground = 'https://images.unsplash.com/photo-1462146449396-2d7d4ba877d7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c219903b4e38c5b8109e11a3d33b9748'

  block worksContent
   