// ------------------------------------
// Mixin: Breakpoints
// ------------------------------------

$mobile-width: 667px;
$tablet-width: 900px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

//---------------------------------
// Variables
//---------------------------------

$color-brand: #9200FF;
$color-brand-2: #2180ff;

$color-orange: #F85328;
$color-black: #000;
$color-blue-fade: #515563;
$color-blue-lighter: #2180ff;
$color-blue-darker: #161920;
$color-white: #fff;

$gray-lighter: #ddd;
$gray-light: #ccc;
$gray-regular: #999;
$gray-darkest: #222;

$font-sans: "aktiv-grotesk";
$font-sans-2: "adelle-sans";

$spacing-small: 10px;
$spacing-base: 20px;
$spacing-large: 30px;
$spacing-xlarge: 60px;

$z-index-highest: 99;

// ------------------------------------
// Lost Gutter
// ------------------------------------

@lost gutter 80px;

//---------------------------------

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: $color-white;
  color: $gray-darkest;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: $font-sans;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

::selection {
  color: #F85328;
  background: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darken($color-brand, 50%);
}

//---------------------------------
// Buttons
//---------------------------------

a {
  color: $color-blue-lighter;
  text-decoration: underline;
}

//---------------------------------
// Buttons
//---------------------------------
%btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  line-height: normal;
  text-decoration: none;
}

.btn--brand {
  @extend %btn;
  background: $color-brand;
  color: $color-white;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 11px 30px $color-black;
}

.btn--brand-2 {
  @extend %btn;
  background: $color-brand-2;
  color: $color-white;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 11px 30px rgba($color-black, 1);
  transition: all .3s ease-in-out;
  &:hover {
    transition: all .3s ease-in-out;
    background: lighten($color-brand-2, 8%);
    box-shadow: 0 14px 30px rgba($color-black, 1);
    cursor: pointer;
  }
}

.btn--large {
  padding: 20px;
  font-size: 20px;
}

.btn--full {
  width: 100%;
}

.btn--shadow-light {
  box-shadow: 0 11px 30px rgba($color-black, .3);
  &:hover {
    box-shadow: 0 11px 30px rgba($color-black, .6);
  }
}

.btn--white {
  @extend %btn;
  background: $color-white;
  color: $color-blue-darker;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background: rgba(0,0,0,0.2);
  border: 1px solid transparent;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  color: $color-white;
  transition: all .3s ease-in-out;
  &:focus {
    transition: all .3s ease-in-out;
    color: $gray-darkest;
    outline: none;
    background: $color-white;
    &:hover {
      background: $color-white;
    }
  }
  &:hover {
    transition: all .3s ease-in-out;
    background: rgba(0,0,0,0.35);
  }
}

//---------------------------------
// Typography
//---------------------------------
h1 {
  font-size: 68px;
  line-height: 72px;
  margin: 0 0 20px;
  font-family: $font-sans-2;
}

h2 {
  font-weight: 400;
  margin: 0 0 $spacing-xlarge;
}

h3 {
  font-size: 20px;
  margin: 0 0 10px;
}

h6 {
  text-transform: uppercase;
  font-size: 12px;
  color: $color-brand;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0 0 $spacing-base;
}

p {
  margin: 0 0 $spacing-small;
}

.z-index--highest {
  z-index: $z-index-highest;
}

//---------------------------------
// Helpers
//---------------------------------
.margin-bottom--small {
  margin-bottom: $spacing-small;
}

.margin-right--small {
  margin-right: $spacing-small;
}

.margin-bottom--xlarge {
  margin-bottom: $spacing-xlarge;
}

.margin--zero {
  margin: 0;
}

.icon {
  display: inline-block;
  margin-right: $spacing-small;
}

.caption {
  color: $gray-regular;
  font-size: 14px;
}

.color--white {
  color: #fff;
}

.color--brand {
  color: $color-brand;
}

.middle-character {
  display: inline-block;
  margin: 0 $spacing-small;
}

.text-capitalize {
  text-transform: capitalize;
}

.font--light {
  font-weight: 100;
}

.img--center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.img--circle {
  border-radius: 50%;
}

%overlay {
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
  }
}

// rgba(146, 0, 255, 0.15)

.overlay--light {
  &:after {
    @extend %overlay;
    background: rgba($color-brand, 0.15);
  }
}


.overlay--dark {
  &:after {
    @extend %overlay;
    background: rgba(7, 10, 29, 0.86);
  }
}

//---------------------------------
// Grid
//---------------------------------
.wrapper-main {
  width: 100%;
  max-width: 100%;
}

.wrapper-inner {
  lost-center: 900px;
  lost-utility: clearfix;
  position: relative;
}

//---------------------------------
// Section
//---------------------------------
.section--border {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
}


//---------------------------------
// Header
//---------------------------------
.wrapper-header {
  position: relative;
  margin: 0 0 100px 0;
  color: #fff;
  background: #000000 url('https://images.unsplash.com/photo-1443616527314-4fbb6da1dcf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d0ca1220af53a213231404b45551abf3') no-repeat center center;
  background-size: cover;
  height: 100vh;
  .wrapper-inner {
    z-index: 99;
    height: 100%;
    position: relative;
  }
}

.header {
  position: relative;
  top: 50px;
}

.nav {
  @include list-reset();
  float: right;
  .nav__item {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    > a {
      text-decoration: none;
      color: $color-white;
      transition: all .2s ease-in-out;
      opacity: 0.7;
      &:hover {
        transition: all .2s ease-in-out;
        opacity: 1;
        text-shadow: 0 2px 6px rgba(0,0,0,0.8);
      }
    }
  }
}

//---------------------------------
// Intro
//---------------------------------
.wrapper-intro {
  @include vertical-align();
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  .btn--brand-2 {
    margin-top: 30px;
  }
}

//---------------------------------
// About Us
//---------------------------------

.about {
  lost-column: 2/4;
}
.gallery {
  lost-column: 2/4;
  .gallery__item--featured {
    > img {
      width: 100%;
      height: auto;
    }
  }
}

.gallery__group {
  margin-top: 20px;
  .gallery__item {
    lost-waffle: 1/3 3 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.services__list {
  @include list-reset();
  column-count: 3;
  column-gap: 20px;
  .services__item {
    margin: 0 0 $spacing-base;
    color: $gray-regular;
    line-height: 1;
  }
}

//---------------------------------
// Doctors
//---------------------------------
.wrapper-cards {
  .card {
    lost-column: 4/12 3 40px;
  }
}
.card {
  padding: $spacing-base;
  border: 1px solid $gray-lighter;
  border-radius: 8px;
  text-align: center;
  transition: all .4s ease-in-out;
  &:hover {
    transition: all .4s ease-in-out;
    cursor: pointer;
    box-shadow: 0 10px 16px rgba($color-black, 0.1);
    transform: scale(1.03);
  }
}
.card__img {
  margin-bottom: $spacing-base;
}
.card__desc {
  line-height: 20px;
}

//---------------------------------
// Information
//---------------------------------
// .section__info {
//   border-top: 1px solid $gray-lighter;
// }

.wrapper-info {
  position: relative;
  z-index: 99;
}

.info-card {
  position: absolute;
  width: 400px;
  background: $color-brand;
  color: $color-white;
  height: 640px;
  padding: 60px;
  left: -60px;
}

.info-card__row {
  lost-utility: clearfix;
  margin-bottom: 60px;
}

.info-card__icon {
  font-size: 30px;
  color: rgba($color-black, 0.4);
  float: left;
}

.info-card__desc {
  float: left;
  margin-left: 20px;
  .caption {
    color: $color-white;
    line-height: 1.4;
  }
}

#gmap_canvas {
  pointer-events: none;
}

//---------------------------------
// Book Appointment
//---------------------------------
.section__book {
  padding: 150px 300px;
  background: $color-brand;
  text-align: center;
  h1 {
    font-family: $font-sans;
    color: darken($color-brand, 35%);
  }
}
//---------------------------------
// Animations
//---------------------------------
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes wobble {
  0% {    transform: translate3d(-25%, 0, 0)  rotate3d(0, 0, 1, -5deg)  scaleX(-1); }
  25% {   transform: translate3d(20%, 0, 0)   rotate3d(0, 0, 1, 4deg)   scaleX(-1); }
  50% {   transform: translate3d(-15%, 0, 0)  rotate3d(0, 0, 1, -3deg)  scaleX(-1); }
  75% {   transform: translate3d(20%, 0, 0)   rotate3d(0, 0, 1, 2deg)   scaleX(-1); }
  100% {  transform: translate3d(-25%, 0, 0)  rotate3d(0, 0, 1, -5deg)  scaleX(-1); }
}

.wobble {
    animation: wobble 2.5s infinite ease-in-out;
}
