// ------------------------------------
// Mixin: Breakpoints
// ------------------------------------

$mobile-width: 667px;
$tablet-width: 900px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//---------------------------------
// Variables
//---------------------------------

$color-orange: #F85328;
$color-blue-fade: #515563;
$color-blue-lighter: #5A5E69;
$color-blue-darker: #161920;
$color-white: #fff;

$gray-light: #ccc;
$gray-regular: #999;
$gray-darkest: #1E1E1E;


$font-sans: "aktiv-grotesk";
$font-sans-2: "adelle-sans";

$spacing-small: 10px;
//---------------------------------
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: $color-blue-darker;
  color: $color-white;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: $font-sans;
  line-height: 1;
  margin: 0;
  padding: 0;
}

::selection {
  color: #F85328;
  background: transparent;
}

a {
  text-decoration: none;
}

//---------------------------------
// Buttons
//---------------------------------
%btn {
  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  line-height: normal;
}

.btn--orange {
  @extend %btn;
  background: $color-orange;
  color: $color-white;
}
.btn--white {
  @extend %btn;
  background: $color-white;
  color: $color-blue-darker;
}

//---------------------------------
// Typography
//---------------------------------
h1 {
  font-size: 68px;
  line-height: 72px;
  margin: 0 0 20px;
  font-family: $font-sans-2;
}

h6 {
  text-transform: uppercase;
  font-size: 12px;
  color: $color-blue-lighter;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0 0 20px;
}

p {
  font-size: 22px;
  line-height: 38px;  
}

.text--small {
  font-size: 18px;
  line-height: 30px;
}

//---------------------------------
// Helpers
//---------------------------------
.margin-bottom--half {
  margin-bottom: 15px;
}

.color--white {
  color: #fff;
}

.img--center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

//---------------------------------
// Grid
//---------------------------------
.wrapper-main {
  width: 100%;
  max-width: 100%;
  margin: 100px 0;
}

.wrapper-inner {
  width: 1055px;
  margin: 0 auto;
}

//---------------------------------
// Header
//---------------------------------
.wrapper-header {
  margin: 0 0 100px 0;
}

.header {
  .header__logo__img {
    display: inline-block;
    > svg {
      fill: $color-white;
      width: 150px;
      height: auto;
    }
  }
  .header__cta {
    float: right;
  }
}
.header--2 {
  position: absolute;
  width: 100%;
  max-width: 1055px;
  top: 100px;
  right: auto;
  left: auto;
}

//---------------------------------
// Header
//---------------------------------
.wrapper-intro {
  width: 70%;
}

//---------------------------------
// Works
//---------------------------------
.wrapper-works {
  margin-top: 30px;
}

.works__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .works__list__item {
    display: table;
    margin: 5px 10px 10px 0px;
    > a {
      color: $color-blue-lighter;
      font-size: 30px;
      display: inline-block;
      padding: 5px 0;
      line-height: normal;
      font-weight: 200;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $color-orange;
      }
    }
    span {
      color: $color-white;
      font-weight: 500;
      display: inline-block;
      margin-right: $spacing-small;
    }
    sup {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

//---------------------------------
// Github
//---------------------------------
.wrapper-contact {
  margin-top: 80px;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
  .contact__list__item {
    display: inline-block;
    margin: 0 25px 0 0;
    font-size: 28px;
    a, a:visited {
      color: $color-blue-lighter;
      &:hover {
        color: $color-orange;
      }
    }
  }
  .contact__list__item--right {
    float: right;
  }
}



//---------------------------------
// Glitch
//---------------------------------

$glitch-steps: 20;

//---------------------------------

.glitch {
  position: relative;
  margin: 0 auto;
  color: $color-white;
  letter-spacing: 0.01em;
  transform: scale3d(1,1,1);
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $color-blue-darker;
    color: $color-white;
    clip: rect(0, 900px, 0, 0);
  }
  &::before {
    left: 7px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }
  &::after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}
@keyframes glitch-effect{
  @for $i from 0 through $glitch-steps{
    #{percentage($i*(1/$glitch-steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

//---------------------------------
// Works Page
//---------------------------------
body.works {
  background: $color-white;
  color: $color-blue-darker;
}
.works {
  .wrapper-main {
    margin: 0;
  }
  .wrapper-header {
    margin: 0;
  }
}
.wrapper-hero {
  background: #04A3FF;
  color: #fff;
  padding: 350px 0 250px 0;
}

.wrapper-content {
  margin: 100px 0;
}

//---------------------------------
// Animations
//---------------------------------
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes wobble {
  0% {    transform: translate3d(-25%, 0, 0)  rotate3d(0, 0, 1, -5deg)  scaleX(-1); }
  25% {   transform: translate3d(20%, 0, 0)   rotate3d(0, 0, 1, 4deg)   scaleX(-1); }
  50% {   transform: translate3d(-15%, 0, 0)  rotate3d(0, 0, 1, -3deg)  scaleX(-1); }
  75% {   transform: translate3d(20%, 0, 0)   rotate3d(0, 0, 1, 2deg)   scaleX(-1); }
  100% {  transform: translate3d(-25%, 0, 0)  rotate3d(0, 0, 1, -5deg)  scaleX(-1); }
}

.wobble {
    animation: wobble 2.5s infinite ease-in-out;
}
