//---------------------------------
// Variables
//---------------------------------

$color-brand: #9200FF;
$color-brand-2: #2180ff;

$color-orange: #F85328;
$color-black: #000;
$color-blue-fade: #515563;
$color-blue-lighter: #2180ff;
$color-blue-darker: #161920;
$color-white: #fff;

$gray-lighter: #ddd;
$gray-light: #ccc;
$gray-regular: #999;
$gray-darkest: #222;

$font-sans: "aktiv-grotesk", "Helvetica Neue", "Helvetica-Neue", Arial, sans-serif;

$spacing-small: 10px;
$spacing-base: 20px;
$spacing-large: 30px;
$spacing-xlarge: 60px;

$z-index-highest: 99;