@import 'nib'

// -----------------
// CSS Reset
// -----------------
global-reset()

// -----------------
// Variables
// -----------------
$main-color = #fa5b4d
$background-color = black

// -----------------
// Styling
// -----------------
body
  background-color $background-color
  color white
  



