extends layout.jade

block content

  //-------------------------
  //- Header
  //-------------------------
  include includes/header

  .wrapper-inner

    //- Intro
    section.wrapper-intro.m-scene
      h6 Obviously not a copywriter
      .scene_element.scene_element--fadein
        h1 Hi, I'm Ed. A #[span.glitch(data-text='digital') digital] product designer from the Big Apple.
        p.text--small 
          | I worked most recently on the OPEN Forum product for American Express while employed at Kettle for the past year. 
          | During my time there, I've collaborated with strategists, product owners, engineers and stakeholders to develop new 
          | features and create a great all-around experience for our users while focusing on both user and business goals and objectives.
        p.text--small
          | I tinker in all aspects of building exceptional products from developing high level wireframes and user stories to designing highly functional in-browser prototypes.

    //- Works
    section.wrapper-works
      h6.margin-bottom--half View Work Samples
      ul.works__list
        li.works__list__item 
          a(href='/works') Bossdock
        li.works__list__item 
          a(href='/works') Canary
        li.works__list__item 
          a(href='/works') NewsCred
        li.works__list__item 
          a(href='/works') Lunch?
        li.works__list__item 
          a(href='/works') Open Forum

    //- Contact Links
    section.wrapper-contact
      ul.contact__list
        li.contact__list__item
          a(href='https://twitter.com/mosstache', target='_blank') #[span.ion-social-twitter]
        li.contact__list__item
          a(href='https://dribbble.com/edmoss', target='_blank') #[span.ion-social-dribbble]
        li.contact__list__item
          a(href='https://linkedin.com/in/mossified', target='_blank') #[span.ion-social-linkedin]
        li.contact__list__item
          a(href='https://github.com/mosster', target='_blank') #[span.ion-social-github]
