extends base.jade

block layout
  .wrapper-main
    
      //-------------------------
      //- Header
      //-------------------------
      include includes/header

      //-------------------------
      //- Content
      //-------------------------
      block content
