extends layout.jade

block content
  section.wrapper-hero
    .wrapper-inner
      h6.color--white OPEN Forum
      h1 A Helpful Way to Communicate


  section.wrapper-content
    .wrapper-inner
      p
        | OPEN Forum was started by American Express to help small-business owners and entrepreneurs exchange insights and advice so they could make smart and well-informed decisions. I first joined the OPEN Forum team right during my time at Kettle - when they shipped the MVP to a seeded beta community in Fall 2012. Since then, I have watched and helped it grow into one of the largest entrepreneurial communities on the web with thousands of users exchanging advice everyday.

      p 
        | At OPEN Forum, we follow agile methodologies and lean ux principles and have also even adopted some bits of the Spotify agile development process in which we structured our core teams into squads, guilds, & chapters. Although I worked on many aspects of the product, my squad was primarily responsible for enhancing the communication between our users whilst making it more simple to find helpful advice.

      p
        | This case-study demonstrates my process for re-designing the existing detail pages where the exchange of advice between our users took place.

      p
        img.img--center(src='http://mossified.com/_img/study-of-1.png' alt='image')